# Datetime, Timedelta, and Period Objects

Before analyzing time series datasets in pandas, we must learn about datetime, timedelta, and period objects. While we did cover these objects in the chapters in the Data Types part, this current chapter provides comprehensive coverage so that you can use them during an actual data analysis.

## Definitions

* **Datetime** - A specific **moment** in time. Has components **year**, **month**, **day**, **hour**, **minute**, **second**, and **part of second**.
* **Timedelta** - An **amount** of time. Has components **day**, **hour**, **minute**, **second**, and **part of second**. It is independent to any specific moment in time.
* **Period** - A specific **span** of time. A time period with a start and end time. Example: the entire month of December, 2002 (December 1, 2002 at midnight to December 31 at 11:59:59.999999999).


## Date vs Time vs Datetime

Within the term **datetime**, we have two separate terms, **date**, and **time**, each of which mean something specific.

* **date** - Only the month, day, and year. 2016-01-05 would represent January 5, 2016
* **time** - Only the hours, minutes, seconds, and parts of a second (millisecond, microsecond, nanosecond, etc...). Fore example, 5 hours, 45 minutes and 6.74234 seconds
* **datetime** - A combination of a date and time. It has both the date (year, month, day) and the time (hour, minute, second, part of second) components. January 5, 2016 at 5:45 p.m and 6.742344 seconds would be an example of a **datetime**.

The Python standard library contains the [datetime module][1]. It is a popular and important module, but will not be covered here since pandas builds its own datetime and timedelta objects that are more powerful.

### Time vs Timedelta

Notice that we've introduced two similar terms, **time**, and **timedelta**. These two terms are essentially the same thing and represent an amount of time. A timedelta typically allows for the use of a day component in addition to hour, minute, second, and part of second. Since years and months are not standard amounts of time, they are not part of the timedelta definition.

[1]: https://docs.python.org/3/library/datetime.html

### Datetimes in numpy

In the Data Types part, we covered the numpy datetime data type. It is more powerful and flexible than the identically named object from the standard library's datetime module, but does not have the features of the pandas datetime object. This chapter only covers datetimes in pandas.

## Creating single datetime objects in pandas

Previously, we used the Series constructor to create a Series of datetimes. It's actually possible to create single datetime objects with the `to_datetime` function and the `Timestamp` constructor.

### Creating a single datetime with the `to_datetime` function

The `to_datetime` function can create a single scalar datetime with nanosecond precision. These scalars are analogous to single integers, floats, or strings. They are not part of an array, Series, or DataFrame. The `to_datetime` function is very flexible and can take a variety of different inputs. We'll explore most of these options, beginning with a string with the format `'YYYY-MM-DD'`.

In [1]:
import pandas as pd
d = pd.to_datetime('2020-01-05')
d

Timestamp('2020-01-05 00:00:00')

This is a new type of object. Let's formally return its type.

In [2]:
type(d)

pandas._libs.tslibs.timestamps.Timestamp

### Why is a Timestamp object returned?

The type that pandas uses for individual datetimes is `Timestamp`. In general, the word 'timestamp' has the same meaning as datetime. If you look at the docstring for `to_datetime` it states the following:

> Convert argument to datetime.

It would have been nice if pandas had chosen the name `Datetime` for the type so that it could match the name of the data type and function. Since it did not, there is potential for confusion. Let's create a Series of datetimes to show that the data type is `'datetime64[ns]'`.

In [3]:
s = pd.Series(['2020-01-05', '2020-01-06'], dtype='datetime64[ns]')
s

0   2020-01-05
1   2020-01-06
dtype: datetime64[ns]

When selecting a single value from this Series, a Timestamp object is returned. In the official documentation, both of the words 'timestamp' and 'datetime' are used interchangeably to refer to the same concept - an object with year, month, day, hour, minute, second, and part of second components.

In [4]:
s.loc[0]

Timestamp('2020-01-05 00:00:00')

### More string formats

Let's see more examples of strings with different formats that can be converted to datetimes. Here, we use a hyphen to separate the components but do not place the leading zero in front of the month and day. It's important to remember that `to_datetime` is a function and not a Series or DataFrame method. It must be accessed directly from `pd`.

In [5]:
pd.to_datetime('2016-1-5')

Timestamp('2016-01-05 00:00:00')

The hour, minute, second, and part of second components were not explicitly given, so pandas sets them to 0. Let's slowly create more datetimes by adding one more component each time. Here, we add the hour.

In [6]:
pd.to_datetime('2020-1-5 15')

Timestamp('2020-01-05 15:00:00')

The hour and minute are separated by a colon.

In [7]:
pd.to_datetime('2020-1-5 15:39')

Timestamp('2020-01-05 15:39:00')

The minute and second are also separated by a colon.

In [8]:
pd.to_datetime('2020-1-5 15:39:55')

Timestamp('2020-01-05 15:39:55')

The part of second needs to be separated from the second by a decimal. Enough precision exists to contain nanoseconds, which are nine places after the decimal. The last two decimal places are truncated below.

In [9]:
pd.to_datetime('2020-1-5 15:39:55.12345678912')

Timestamp('2020-01-05 15:39:55.123456789')

Forward slashes can be used instead of hyphens to separate the date components. The hour, minute, and second components do not require any separator.

In [ ]:
pd.to_datetime('2020/01/05 153955.123456789')

The date components also don't need a separator.

In [ ]:
pd.to_datetime('20200105 153955.123456789')

You can also use the month name spelled out as a string, have an ending for the day, and use AM/PM to denote part of day.

In [ ]:
pd.to_datetime('January 5th, 2020 03:39:55 PM')

### ISO 8601 Format

The [International Organization of Standards code 8601][1] describes a standard format for datetimes where the letter **T** is used to separate the date and time. There are several variations of the format, such as using hyphens to separate the year, month, and day components.

[1]: https://en.wikipedia.org/wiki/ISO_8601

In [10]:
pd.to_datetime('20200105T153955.123456789')

Timestamp('2020-01-05 15:39:55.123456789')

### Same results with the `pd.Timestamp` constructor

The `pd.Timestamp` constructor produces the exact same output as the `pd.to_datetime` function when passed a string. A single `Timestamp` will be produced. Here, we test the equality of one of the strings.

In [11]:
pd.to_datetime('2020/01/05 153955') == pd.Timestamp('2020/01/05 153955')

True

### Day first strings

All of the above strings had the full four character year first, e.g. `'2020-5-9'` for May 9th, 2020 . It's possible to provide month, then day, then year in the following format.

In [12]:
pd.to_datetime('5/9/2020')

Timestamp('2020-05-09 00:00:00')

It is customary in many countries to provide the day first. Below, we set the `dayfirst` parameter to `True` to create the date May 9, 2020. This is not possible with `pd.Timestamp` as its signature differs significantly from `pd.to_datetime`.

In [13]:
pd.to_datetime('5/9/2020', dayfirst=True)

Timestamp('2020-09-05 00:00:00')

### Custom datetime string specification

Occasionally, you might have a string that pandas does not know how to parse. Take the following uncommon string, which will produce an error when passed to `pd.to_datetime`

In [14]:
pd.to_datetime('The 5th of January, 2020 at 5:45 pm')

DateParseError: Unknown datetime string format, unable to parse: The 5th of January, 2020 at 5:45 pm, at position 0

You may use the specific format codes that each refer to a specific component of a datetime within the string. Pass this format as a string to the `format` parameter.

In [15]:
pd.to_datetime('The 5th of January, 2020 at 5:45 pm', 
               format='The %dth of %B, %Y at %I:%M %p')

Timestamp('2020-01-05 17:45:00')

In order to use the `format` parameter, you must be aware of the format codes, also known as directives. A partial list of format codes is given in the table below. See the [official Python documentation][1] for full details.

<table>
    <thead>
        <tr><td>Format code</td> <td>Definition</td> <td>Examples</td></tr>
    </thead>
    <tbody>
        <tr> <td>%d</td> <td>zero-padded day of month</td> <td>- 01, 02, ... 30,31</td></tr>
        <tr> <td>%b/%B</td> <td>abbreviated/full month name</td> <td>Jan/January, Feb/February</td></tr>
        <tr> <td>%m</td> <td>zero-padded month number</td> <td>01, 02</td></tr>
        <tr> <td>%y/%Y</td> <td>two-digit/four-digit year</td> <td>05/2005, 10/2010</td></tr>
        <tr> <td>%H</td> <td>zero-padded 24 hour clock</td> <td>00, 01, 23</td></tr>
        <tr> <td>%I</td> <td>zero-padded 12 hour clock</td> <td>01, 02, 12</td></tr>
        <tr> <td>%M</td> <td>zero-padded minute</td> <td>00, 01, 59</td></tr>
        <tr> <td>%S</td> <td>zero-padded second</td> <td>00, 01, 59</td></tr>
        <tr> <td>%p</td> <td>AM or PM</td> <td>am, pm, AM, PM</td></tr>
    </tbody>
    </table>
    
[1]: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

### Epoch

The term epoch refers to the origin of a particular era. Like many other programming languages, Python uses January 1, 1970 (also known as the Unix epoch) as its epoch for keeping track of datetime. In pandas, integers are used to represent the number of nanoseconds that have elapsed since the epoch.

### Converting numbers to Timestamps

The `to_datetime` function also accepts numbers and converts them to Timestamps. By default, it uses nanoseconds as the units for the passed number. The following creates a datetime 100 nanoseconds after January 1, 1970.

In [16]:
pd.to_datetime(100)

Timestamp('1970-01-01 00:00:00.000000100')

### Specify unit

The default unit is nanoseconds, but you can specify a different one with the `unit` parameter. Use the characters 'd' (days), 'h' (hours), 'm' (minutes), 's' (seconds), 'ms' (milliseconds), 'us' (microseconds), and 'ns' (nanoseconds).  Here, we create a datetime 100 seconds after the epoch.

In [17]:
pd.to_datetime(100, unit='s')

Timestamp('1970-01-01 00:01:40')

Here, a datetime 20,000 days after the epoch is created.

In [18]:
pd.to_datetime(20_000, unit='d')

TypeError: Invalid datetime unit in metadata string "[d]"

Again, the `pd.Timestamp` constructor works the same. A timestamp 5 million minutes after the epoch is created.

In [19]:
pd.Timestamp(5_000_000, unit='m')

Timestamp('1979-07-05 05:20:00')

## Timestamp attributes and methods

Timestamp objects have similar attributes and methods as the `dt` Series accessor. Let's create a Timestamp and retrieve see some of these attributes.

In [20]:
ts = pd.to_datetime('2020/10/05 153955.123456789')
ts

Timestamp('2020-10-05 15:39:55.123456789')

In [21]:
ts.year

2020

In [24]:
ts.month

10

In [25]:
ts.second

55

In [26]:
ts.microsecond

123456

In [27]:
ts.month_name()

'October'

In [28]:
ts.day_of_week

0

In [29]:
ts.day_name()

'Monday'

In [30]:
ts.day_of_year

279

In [31]:
ts.daysinmonth

31

In [32]:
ts.is_month_end

False

The offset aliases are used for the `round`, `ceil`, and `floor` methods. Here, we round to the nearest hour and day.

In [33]:
ts.round('H')

C:\Users\nealv\AppData\Local\Temp\ipykernel_25700\2060207115.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ts.round('H')

Timestamp('2020-10-05 16:00:00')

In [34]:
ts.round('D')

Timestamp('2020-10-06 00:00:00')

The `floor` and `ceil` method work identically as their Series counterparts.

In [35]:
ts.floor('H')

C:\Users\nealv\AppData\Local\Temp\ipykernel_25700\3518356951.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ts.floor('H')

Timestamp('2020-10-05 15:00:00')

In [36]:
ts.ceil('H')

C:\Users\nealv\AppData\Local\Temp\ipykernel_25700\1288206105.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ts.ceil('H')

Timestamp('2020-10-05 16:00:00')

### Datetimes in DataFrames

It's more common to encounter datetimes in a DataFrame. Let's read in the City of Houston employee dataset converting the `hire_date` column to a datetime.

In [37]:
emp = pd.read_csv('../data/employee.csv', parse_dates=['hire_date'])
emp.dtypes

dept                 object
title                object
hire_date    datetime64[ns]
salary              float64
sex                  object
race                 object
dtype: object

### Each individual value in the datetime columns is a Timestamp

If we extract the `hire_date` column as a Series and print out the first few rows, you will see that data type (at the bottom of the output) is still written with the word `datetime64[ns]`.

In [38]:
hire_date = emp['hire_date']
hire_date.head()

0   2001-12-03
1   2010-11-15
2   2006-01-09
3   1997-05-27
4   2006-01-23
Name: hire_date, dtype: datetime64[ns]

If we select the first value in the Series, we get a Timestamp.

In [39]:
hire_date.loc[0]

Timestamp('2001-12-03 00:00:00')

## Creating single timedelta objects in pandas

A timedelta is a specific amount of time such as 20 seconds, or 13 days 5 minutes and 10 seconds. Use the `to_timedelta` function or the `pd.Timedelta` constructor to create a Timedelta object. They work analogously to the `to_datetime` function and `pd.Timestamp` constructors. Thankfully, there is no name confusion as there is with datetime/timestamp as the function, constructor, and type all use the timedelta name. 

A wide variety of strings are able to be converted to Timedeltas, some of which will be showcased below. We begin by creating a timedelta of 5 hours and 45 minutes.

In [40]:
pd.to_timedelta('5:45:00')

Timedelta('0 days 05:45:00')

Use the string `'days'` to set the days, the largest possible component for timedeltas.

In [41]:
pd.to_timedelta('5 days 03:12:45.123')

Timedelta('5 days 03:12:45.123000')

The `pd.Timedelta` constructor works with the exact same inputs.

In [42]:
pd.Timedelta('5 days 03:12:45.123')

Timedelta('5 days 03:12:45.123000')

### Converting numbers to Timedeltas

As with `to_datetime`, numbers passed to `to_timedelta` (or `pd.Timedelta`) will be by default treated as the number of nanoseconds. Use the `unit` parameter to change the time unit. We start by converting 123,000 nanoseconds to a timedelta.

In [43]:
pd.to_timedelta(123_000)

Timedelta('0 days 00:00:00.000123')

Here, we create a timedelta of exactly 500 days.

In [44]:
pd.to_timedelta(500, unit='d')

Timedelta('500 days 00:00:00')

Over 700 hours converted to a timedelta.

In [45]:
pd.to_timedelta(705.87, unit='h')

Timedelta('29 days 09:52:12')

Since years is not a standard amount, you'll get an error if you use it's unit abbreviation, 'y'. Month is also not a standard unit so you won't be able to use it either.

In [46]:
pd.to_timedelta(23, unit='y')

ValueError: Units 'M', 'Y', and 'y' are no longer supported, as they do not represent unambiguous timedelta values durations.

### No name confusion with Timedelta

Pandas Timedelta is built upon numpy's timedelta64 data type which is superior to the standard library's datetime module's timedelta. Fortunately, the pandas developers used the name timedelta for the data type which is the same as numpy's. There is no name confusion here, unlike there is with datetime/timestamp.

## Timedelta attributes and methods

There are many attributes and methods available to Timedelta objects. Let's see some below:

In [79]:
td = pd.to_timedelta(705.87, unit='h')
td

Timedelta('29 days 09:52:12')

In [ ]:
td.days

In [ ]:
td.seconds

In [ ]:
td.components

Get the total number of seconds.

In [ ]:
td.total_seconds()

## Creating timedeltas by subtracting datetimes

It is possible to create timedeltas by subtracting two datetimes.

In [47]:
dt1 = pd.to_datetime('2012-12-21 5:30')
dt2 = pd.to_datetime('2016-1-1 12:45:12')
dt2 - dt1

Timedelta('1106 days 07:15:12')

### Negative Timedeltas

A negative timedelta is possible just like any negative number is.

In [48]:
dt1 - dt2

Timedelta('-1107 days +16:44:48')

### Math with Timedeltas

You can do many different math operations with two timedeltas together. Two timedeltas are subtracted below.

In [49]:
td1 = pd.to_timedelta('05:23:10')
td2 = pd.to_timedelta('00:02:20')
td1 - td2

Timedelta('0 days 05:20:50')

Multiplication by other integers and floats is possible.

In [50]:
td1 * 6.3

Timedelta('1 days 09:55:57')

Dividing two timedeltas will remove the units and return a number.

In [51]:
td1 / td2

138.5

### Creating Timedeltas in a DataFrame by subtracting two Datetime columns

The bikes dataset has two datetime columns, `starttime` and `stoptime`.

In [52]:
bikes = pd.read_csv('../data/bikes.csv', parse_dates=['starttime', 'stoptime'])
bikes.head(2)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy

Let's find the amount of time that elapsed between the start and stop times.

In [53]:
time_elapsed = bikes['stoptime'] - bikes['starttime']
time_elapsed.head()

0   0 days 00:16:00
1   0 days 00:10:00
2   0 days 00:18:00
3   0 days 00:11:00
4   0 days 00:02:00
dtype: timedelta64[ns]

Since both start and stop time are datetime columns, subtracting them resulted in a timedelta column. The maximum unit of time for timedelta is days.

## Creating Period Objects in Pandas

A pandas Period is a span of time that has a start and end time. The span of time can be any length, from a single nanosecond to many years. The start and end time are datetimes. The `Period` constructor accepts many of the same strings that were used to create datetimes. Let's create a period for the entire month of December, 2020.

In [54]:
p = pd.Period('2010-12')
p

Period('2010-12', 'M')

Every Period has a `start_time` and `end_time` that are datetimes, and are accessible as attributes.

In [55]:
p.start_time

Timestamp('2010-12-01 00:00:00')

In [56]:
p.end_time

Timestamp('2010-12-31 23:59:59.999999999')

Below we create a time period for the entire hour of 3 p.m. on December 25, 2010. The letter to the right of the date is the "frequency" and uses the same strings as the offset aliases.

In [57]:
p = pd.Period('2010-12-25 15')
p

Period('2010-12-25 15:00', 'h')

We verify the start and end datetimes.

In [58]:
p.start_time, p.end_time

(Timestamp('2010-12-25 15:00:00'), Timestamp('2010-12-25 15:59:59.999999999'))

It's possible to create an entire quarter of the year as a period. Here, we create the third quarter of 2010 (July 1, 2010 to September 30, 2010).

In [59]:
p = pd.Period('2010Q3')
p

Period('2010Q3', 'Q-DEC')

## Creating multiple datetimes and timestamps

The `pd.to_datetime` and `pd.to_timedelta` functions allow you to convert multiple values into datetimes or timedeltas. However, the constructors `pd.Timestamp` and `pd.Timedelta` do not and only create scalar values. Below, we convert two strings to timestamps. Notice that a `DatetimeIndex` object is returned. We will see more of this object in the upcoming chapters.

In [60]:
pd.to_datetime(['2021-1-1', '2021-2-1'])

DatetimeIndex(['2021-01-01', '2021-02-01'], dtype='datetime64[ns]', freq=None)

## Exercises

### Exercise 1

<span style="color:green; font-size:16px">What day of the week was Jan 15, 1997?</span>

In [64]:
pd.to_datetime('1997-01-15').day_name()

'Wednesday'

### Exercise 2

<span style="color:green; font-size:16px">Was 1924 a leap year?</span>

In [67]:
pd.to_datetime('1924-01-15').is_leap_year

True

### Exercise 3

<span style="color:green; font-size:16px">What year will it be 1 million hours after the UNIX epoch?</span>

In [66]:
pd.Timestamp(1_000_000, unit='h').year

2084

### Exercise 4

<span style="color:green; font-size:16px">Create the datetime July 20, 1969 at 2:56 a.m. and 15 seconds.</span>

In [70]:
land_date = pd.to_datetime('1969-07-20 02:56:15')

### Exercise 5

<span style="color:green; font-size:16px">Neil Armstrong stepped on the moon at the time in the last Exercise. How many days have passed since that happened? Use the string 'today' when creating your datetime.</span>

In [78]:

land_date = pd.to_datetime('1969-07-20 02:56:15')
today = pd.to_datetime('today')


days_elapsed = (today-land_date).days
days_elapsed

20633

### Exercise 6
<span style="color:green; font-size:16px">Create the Timedelta 84 hours and 17 minutes with both `pd.Timedelta` and `pd.to_timedelta` and verify that they are equal.</span>

In [83]:
import pandas as pd

# The Code
td1 = pd.Timedelta(hours=84, minutes=17)
td2 = pd.to_timedelta('84:17:00')
is_equal = td1 == td2

print(f"pd.Timedelta: {td1}")
print(f"pd.to_timedelta: {td2}")
print(f"Equal: {is_equal}")

pd.Timedelta: 3 days 12:17:00
pd.to_timedelta: 3 days 12:17:00
Equal: True

### Exercise 7

<span style="color:green; font-size:16px">Which is larger? 5,206 days or 123,000 hours?</span>

In [81]:
pd.to_timedelta(123_000,unit='h').days

5125

### Exercise 8

<span style="color:green; font-size:16px">Take a look at the `pd.Timestamp` docstring. Each component (year, month, day, etc...) is available as a parameter in the constructor. Use the parameters to create a time stamp that has a non-zero value for each component.</span>

### Exercise 9

<span style="color:green; font-size:16px">Convert the given string to a datetime.</span>

In [84]:
import pandas as pd

s = 'month=10 year=2021 day=19 hour=6 minute=23'

# The Production Standard: Explicit formatting with directives to handle literal text
dt = pd.to_datetime(s, format='month=%m year=%Y day=%d hour=%H minute=%M')

print(dt)

2021-10-19 06:23:00

### Exercise 10

<span style="color:green; font-size:16px">How many seconds elapsed from Feb 23, 2018 at 5:45 pm until Dec 14, 2020 at 7:32 am</span>

In [85]:
import pandas as pd

# Define the timestamps
ts1 = pd.Timestamp('Feb 23, 2018 5:45 pm')
ts2 = pd.Timestamp('Dec 14, 2020 7:32 am')

# Subtract to get a Timedelta and convert to total seconds
elapsed_seconds = (ts2 - ts1).total_seconds()

print(elapsed_seconds) # Result: 88523220.0

88523220.0

### Exercise 11

<span style="color:green; font-size:16px">What day of the year is October 11 on a leap year?</span>

In [86]:
# Create a timestamp for October 11 on a leap year
ts = pd.Timestamp('October 11, 2000')

# Verify it is a leap year and get the day of the year
if ts.is_leap_year:
    print(ts.dayofyear) # Result: 285

285

### Exercise 12

<span style="color:green; font-size:16px">What was the date and time 198 hours and 33 minutes past December 3, 2020 at 5:15 pm </span>

In [87]:
# Define the start point
start_ts = pd.Timestamp('December 3, 2020 5:15 pm')

# Define the duration (198 hours and 33 minutes)
duration = pd.Timedelta('198:33:00')

# Add them together to find the new date and time
result = start_ts + duration

print(result) # Result: 2020-12-11 23:48:00

2020-12-11 23:48:00

### Exercise 13

<span style="color:green; font-size:16px">It takes painter A 3 days 14 hours and 38 minutes to paint a house. Painter B takes 9 hours and 56 minutes to paint the same house. How many houses of the same size can painter B paint in the time it takes painter A to paint one.</span>

In [89]:

td_painter_a = pd.Timedelta('3 days 14:38:00')
td_painter_b = pd.Timedelta('09:56:00')

td_painter_a / td_painter_b

8.721476510067115

### Exercise 14

<span style="color:green; font-size:16px">The following string represents June 3rd, 2020. Convert it to the correct datetime.</span>

In [92]:
s = '3/6/2020'

pd.to_datetime(s, dayfirst=True)

Timestamp('2020-06-03 00:00:00')

### Exercise 15

<span style="color:green; font-size:16px">Create a Period object for the entire minute of 2:32 pm on October 11, 2020.</span>

In [100]:
import pandas as pd

# Create a Period object for the specific minute
# Pandas infers the 'T' frequency from the string precision
minute_period = pd.Period('2020-10-11 2:32 pm')

print(minute_period)
# Result: 2020-10-11 14:32

2020-10-11 14:32

### Exercise 16

<span style="color:green; font-size:16px">The City of Houston employee data was retrieved on June 1, 2019. Can you calculate the exact amount of years of experience and assign as a new column named `experience`?</span>

In [104]:
import pandas as pd

# 1. Define the reference retrieval date
retrieval_date = pd.to_datetime('2019-06-01')

# 2. Define a standard year duration (365.25 days)
one_year = pd.to_timedelta(365.25, unit='D')

# 3. Use .assign in a chain to calculate exact years as a float
emp_final = (
    pd.read_csv('../data/employee.csv', parse_dates=['hire_date'])
    .assign(
        yrs_experience=lambda df_: ((retrieval_date - df_['hire_date']) / one_year).round(2)
    )
)

emp_final

,dept,title,hire_date,salary,sex,race,yrs_experience
0,Police,POLICE SERGEANT,2001-12-03,87545.38,Male,White,17.49
1,Other,ASSISTANT CITY ATTORNEY II,2010-11-15,82182.00,Male,Hispanic,8.54
2,Houston Public Works,SENIOR SLUDGE PROCESSOR,2006-01-09,49275.00,Male,Black,13.39
3,Police,SENIOR POLICE OFFICER,1997-05-27,75942.10,Male,Hispanic,22.01
4,Police,SENIOR POLICE OFFICER,2006-01-23,69355.26,Male,White,13.35
...,...,...,...,...,...,...,...
24303,Police,SENIOR POLICE OFFICER,2001-12-03,75942.10,Male,Black,17.49
24304,Other,SENIOR PROCUREMENT SPECIALIST,2016-03-28,76175.00,Female,Black,3.18
24305,Houston Public Works,WATER SERVICE INSPECTOR I,2015-09-14,35173.00,Male,Black,3.71
24306,Health & Human Services,HUMAN SERVICE PROGRAM MANAGER,2008-05-19,67198.00,Female,Black,11.03
24307,Police,POLICE SERGEANT,1984-05-29,NaN,Male,White,35.01