In [4]:
import pandas as pd
pd.__version__

'2.3.2'

In [5]:
bikes = pd.read_csv('../data/bikes.csv')

events = bikes['events']

events.head(10)

0    mostlycloudy
1    partlycloudy
2    mostlycloudy
3    mostlycloudy
4    partlycloudy
5    mostlycloudy
6          cloudy
7          cloudy
8          cloudy
9    mostlycloudy
Name: events, dtype: object

In [6]:
type(events)

pandas.core.series.Series

In [7]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv')
bikes.head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

In [ ]:
bikes.dtypes

pandas.core.series.Series

In [10]:
type(bikes.dtypes)

pandas.core.series.Series

In [11]:
bikes.info(verbose=True,memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             50089 non-null  object
 1   starttime          50089 non-null  object
 2   stoptime           50089 non-null  object
 3   tripduration       50089 non-null  int64
 4   from_station_name  50089 non-null  object
 5   start_capacity     50083 non-null  float64
 6   to_station_name    50089 non-null  object
 7   end_capacity       50077 non-null  float64
 8   temperature        50089 non-null  float64
 9   wind_speed         50089 non-null  float64
 10  events             50089 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 23.0 MB

In [12]:
movie= pd.read_csv('../data/movie.csv')
movie.set_index('title', verify_integrity=True).head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

Selecting Subsets of Data

In [1]:
import pandas as pd
df = pd.read_csv('../data/sample_data.csv', index_col=0)
df

          state  color    food  age  height  score
name
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [2]:
df[['color', 'age', 'score']]

           color  age  score
name
Jane        blue   30    4.6
Niko       green    2    8.3
Aaron        red   12    9.0
Penelope   white    4    3.3
Dean        gray   32    1.8
Christina  black   33    9.5
Cornelia     red   69    2.2

In [ ]:
import pandas as pd

# SUBSETTING PRODUCTION STANDARDS
movie = pd.read_csv('../data/movie.csv')

# 1. Column Selection (Rename and Pick)
# Standard: Use .rename for cleaning and then filter for specific columns
cols_to_keep = ['director_name', 'title', 'imdb_score', 'budget']

movie_subset = (movie
    .rename(columns=lambda x: x.strip().lower())
    .loc[:, cols_to_keep]
)

# 2. Boolean Row Selection (The Lambda Standard)
# Standard: Use .loc with a lambda to reference the "current" state of the chain
# This avoids referencing the old 'movie' variable which might be stale
high_score_movies = (movie_subset
    .loc[lambda df_: df_['imdb_score'] > 8.0]
)

# 3. Hybrid Row/Column Subsetting
# Standard: Always .loc[rows, columns] for precision
production_subset = (movie_subset
    .loc[lambda df_: df_['budget'] > 100_000_000, ['title', 'budget']]
)

# 4. The Query Alternative (Harrison's "Flow")
# Standard: Use .query() for complex logic to keep the chain readable
complex_subset = (movie_subset
    .query("imdb_score > 7 and budget < 1000000")
    .loc[:, ['title', 'imdb_score']]
)

# 5. Position-based Subsetting
# Standard: Use .iloc strictly for "N rows" or "N columns", never for logic
top_5_rows = (movie_subset
    .iloc[:5, :3]
)

In [19]:
top_5_rows

       director_name                                       title  imdb_score
0      James Cameron                                      Avatar         7.9
1     Gore Verbinski    Pirates of the Caribbean: At World's End         7.1
2         Sam Mendes                                     Spectre         6.8
3  Christopher Nolan                       The Dark Knight Rises         8.5
4        Doug Walker  Star Wars: Episode VII - The Force Awakens         7.1

In [2]:
import pandas as pd

# Load Data
movie = pd.read_csv('../data/movie.csv')
# Create a Series for specific examples (Index=Title, Value=Score)
movie_series = movie.set_index('title')['imdb_score']

# -----------------------------------------------------------------------------
# PRODUCTION SUBSETTING MASTERCLASS
# -----------------------------------------------------------------------------

# 1. Advanced Boolean Logic & The "Vectorized" Between
# Standard: Use parens for bitwise logic (&, |) inside a lambda.
# Optimization: .between() is cleaner/faster than `(x >= a) & (x <= b)`
logic_subset = (movie
    .loc[lambda df_: 
        (df_['content_rating'].isin(['PG-13', 'R'])) &       # List membership
        (df_['year'].between(2010, 2016, inclusive='both')) & # Inclusive range
        (~df_['director_name'].isna())                       # Invert isna() (Not Null)
    ]
)

# 2. Column-to-Column Comparison & Arithmetic
# Standard: Compare columns directly within the lambda state (df_).
# Use Case: Finding profitable movies where Gross > Budget
col_comparison = (movie
    .dropna(subset=['gross', 'budget'])  # Pre-filter for safety
    .loc[lambda df_: 
            (df_['gross'] > df_['budget']) & 
            ((df_['gross'] / df_['budget']) > 3.0) # Column vs Column , arithmetic logic
    ,['title', 'budget', 'gross']] #column selection
)

# 3. Series Subsetting Standards
# Standard: Apply boolean masks directly to Series.
# Note: Series also support .loc for label-based or boolean filtering
series_subset = (movie_series
    .loc[lambda s: (s > 8.5) & (s.index.str.startswith('The'))] # Value filtering and index filetering
)

# 4. The Query Engine (Variables, Lists, and Math)
# Standard: Use .query() when logic involves external variables or complex "English-like" flow.
# Optimization: @variable allows injecting Python objects into the query string.
target_genres = ['Action', 'Adventure']
min_duration = 120
budget_cap = 100_000_000

query_advanced = (movie
    .query(
        "genres in @target_genres and "           # List containment
        "duration > @min_duration and "           # External variable
        "budget < @budget_cap and "
        "actor1_fb > actor2_fb" # Col-to-Col comparison
    )
    .loc[:,['title','genres','duration','budget','actor1_fb','actor2_fb']]
)

# 5. Type-Based & Regex Selection (Crucial Missing Method)
# Standard: Use select_dtypes for ML pipelines (separating numeric/categorical).
# Standard: Use filter(regex=...) for pattern matching column names.
feature_selection = (movie
    .select_dtypes(include=['number', 'category'])
    .filter(regex=r'^(movie|imdb|actor)') # Columns starting with these patterns
)

In [3]:
feature_selection

      actor1_fb  actor2_fb  actor3_fb  imdb_score
0        1000.0      936.0      855.0         7.9
1       40000.0     5000.0     1000.0         7.1
2       11000.0      393.0      161.0         6.8
3       27000.0    23000.0    23000.0         8.5
4         131.0       12.0        NaN         7.1
...         ...        ...        ...         ...
4911      637.0      470.0      318.0         7.7
4912      841.0      593.0      319.0         7.5
4913        0.0        0.0        0.0         6.3
4914      946.0      719.0      489.0         6.3
4915       86.0       23.0       16.0         6.6

[4916 rows x 4 columns]

This is a Production-Grade Coding Exam. I will act as your Lead Architect. We will build a pipeline for a streaming service ("StreamCo") to identify high-value acquisition targets.

The Rules:

Strict Method Chaining: Every solution must be a single chain.

No "Just the Brackets": Use .loc or .query.

Explicitness: Column names and logic must be clear.

CASE STUDY: The "Hidden Gems" Algorithm
Context: StreamCo wants to acquire rights to movies that performed well critically but might have been overlooked. We are working with the data/movie.csv dataset.

The Architecture Roadmap

Step 1: Ingestion & Sanitation (Foundation)

    Goal: Load raw data, standardize column names, remove rows with missing critical metadata (Director), and select the "Base Features."

    Tech Focus: .rename(), .dropna(), .loc[:, cols].

Step 2: The "Core" Business Logic (Boolean Filtering)

    Goal: Apply strict thresholds to find high-potential movies.

    Duration: 90–150 mins.

    Profitability: Gross > Budget.

    Quality: IMDB Score > 7.0.

    Language: Non-English (International focus).

    Tech Focus: .loc[lambda x: ...] with bitwise operators (&, |, ~) and .between().

Step 3: The "Niche" Refinement (String & Query)

    Goal: Filter down to specific genres and exclude "blockbuster" directors (to keep costs low).

    Genre: Must contain "Drama" or "Thriller".

    Exclusion: Director name must not start with "J" (arbitrary rule to simulate regex/exclusion logic).

    Tech Focus: .query() for complex readable logic using external variables (e.g., @genres), or .loc with .str.contains().

Step 4: The Financial Pivot (Type Selection)

    Goal: For the final output, we only want the Title (as index) and Numeric columns to feed into a pricing model.

    Tech Focus: .set_index(), .select_dtypes(include='number').

Step 5: The Final Cut (Positional Slicing)

    Goal: Return only the Top 5 candidates sorted by imdb_score.

    Tech Focus: .sort_values(), .iloc[:5].

In [ ]:
import pandas as pd 

#Step 1 Ingestion and Sanitation of data

movies_raw = pd.read_csv('../data/movie.csv')

movies_cleaned = (movies_raw
                  .rename(columns=lambda x: x.strip().lower()) #renaming columns by removing trailing and leading spaces and changing everything to lower case
                  .loc[ lambda df_: ~(df_['director_name'].isna()),  #removing all missing director names 
                    ['title','genres','year','director_name','imdb_score','language','duration','budget','gross']  #Selecting columns of interest
                  ] 
                )

#version 1 for step 2
potential_movies_v1 = (movies_cleaned
                    .query(
                        "duration >= 90 and duration <= 150"
                        "and imdb_score >7 and gross > budget"
                        " and language != 'English'"
                      )
                    )

#version 2 for step 2
potential_movies_v2 = (movies_cleaned
                      .loc[lambda df_: 
                           (df_['duration'].between(90,150,inclusive='both')) &
                           (df_['imdb_score'] > 7) &
                           (df_['gross'] > df_['budget']) &
                           ~(df_['language'] == 'English')
                           ]
                      )