# Boolean Selection Multiple Conditions

Thus far, our boolean selections involved just a single condition. It is possible to have as many conditions as you would like. To do so, you will need to combine your boolean expressions using the three logical operators, and, or, and not.

## Logical operators

Core Python provides the logical operators `and`, `or`, and `not` to combine multiple conditions together. These operators always return a boolean value. Let's take a look at a few simple examples to review. 

We begin by testing whether five is greater than three and that 10 is greater than 20. There are two conditions here, with the first evaluating as `True` and the second as `False`. The `and` operator only returns `True` if both conditions are `True`, so in this case it returns `False`.

In [1]:
5 > 3 and 10 > 20

False

Let's keep the same conditions and change the logical operator to `or` which returns `True` if one or more of the conditions evaluate as `True`.

In [2]:
5 > 3 or 10 > 20

True

The `not` operator inverts a condition. Below, we invert the last expression. Because `not` has higher precedence than `or`, we use parentheses to ensure the `or` condition is evaluated first.

In [3]:
not (5 > 3 or 10 > 20)

False

### Different logical operators for boolean Series

These built-in logical operators do not work for creating multiple conditions with a boolean Series. Instead, you must use the following operators.

* `&` for and (ampersand character)
* `|` for or (pipe character)
* `~` for not (tilde character)

Let's use the bikes dataset to make our multiple condition queries.

In [4]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv')
bikes.head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

### Our first multiple condition expression

Let's find all the rides longer than 1,000 seconds by males. This query has two conditions - trip durations greater than 1,000 and a gender of 'Male'. The way we approach the problem is to assign each condition to a separate variable. Since we desire both of the conditions to be true, we must use the and (`&`) operator. Each single condition is placed on its own line before using the `&` operator to create the final filter that completes the boolean selection.

In [5]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Male'
filt = filt1 & filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
10,Male,2013-07-04 17:17:00,2013-07-04 17:42:00,1523,Morgan St & 18th St,15.0,Damen Ave & Pierce Ave,19.0,79.0,9.2,mostlycloudy

## Multiple conditions in one line

It is possible to combine the entire expression into a single line. Many pandas users like doing this, so it is a good idea to know how it's done as you will definitely encounter it.

### Use parentheses to separate conditions

You must encapsulate each condition within a set of parentheses in order to make this work. Each condition is separated like this:

```python
(bikes['tripduration'] > 1000) & (bikes['events'] == 'cloudy')
```

### Same results

The above expression is placed inside of *just the brackets* to get the same results. Again, I prefer assigning each condition to its own variable name for better readability.

In [6]:
bikes[(bikes['tripduration'] > 1000) & (bikes['gender'] == 'Male')].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
10,Male,2013-07-04 17:17:00,2013-07-04 17:42:00,1523,Morgan St & 18th St,15.0,Damen Ave & Pierce Ave,19.0,79.0,9.2,mostlycloudy

## Using an `or` condition

Let's find all the rides that were done by females **or** had trip durations longer than 1,000 seconds. In this example, we need at least one of the conditions to be true, which necessitates the use of the or (`|`) operator.

In [7]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Female'
filt = filt1 | filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
9,Female,2013-07-04 15:00:00,2013-07-04 15:16:00,922,Lakeview Ave & Fullerton Pkwy,19.0,Racine Ave & Congress Pkwy,19.0,81.0,12.7,mostlycloudy

## Inverting a condition with the not operator

The tilde character, `~`, represents the not operator and inverts a condition. For instance, if we wanted all the rides with trip duration less than or equal to 1,000, we could do it like this:

In [8]:
filt = bikes['tripduration'] > 1000
bikes[~filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy

Of course, inverting a single conditions like this isn't too useful as we can use the less than or equal to operator instead.

In [9]:
filt = bikes['tripduration'] <= 1000
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy

### Invert a more complex condition

Typically, we reserve the not operator for inverting more complex conditions. Let's invert the condition for selecting rides by females or those with duration over 1,000 seconds. Logically, this should return only male riders with duration 1,000 or less. The `~` operator has precedence over the `|` operator, so we use parentheses to ensure that the or operation is completed first. That result is then inverted.

In [13]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Female'
filt = ~(filt1 | filt2)
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy

### Even more complex conditions

It is possible to build extremely complex conditions to select rows of your DataFrame that meet a very specific query. For instance, we can select males riders with trip duration between 5,000 and 10,000 seconds along with female riders with trip duration between 2,000 and 3,000 seconds. With multiple conditions, it's probably best to break out the logic into multiple steps:

In [15]:
filt1 = ((bikes['gender'] == 'Male') &
         (bikes['tripduration'] >= 5000) &
         (bikes['tripduration'] <= 10000))

filt2 = ((bikes['gender'] == 'Female') &
         (bikes['tripduration'] >= 2000) &
         (bikes['tripduration'] <= 3000))
filt = filt1 | filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
18,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,35.0,Millennium Park,35.0,79.0,13.8,cloudy
173,Female,2013-08-08 08:49:00,2013-08-08 09:31:00,2502,Sheffield Ave & Addison St,27.0,Dearborn St & Adams St,19.0,71.1,10.4,mostlycloudy
258,Female,2013-08-17 22:10:00,2013-08-17 22:53:00,2566,Millennium Park,35.0,Theater on the Lake,15.0,69.1,5.8,clear

## Many equality conditions in a single column

Occasionally, we want to test equality in a single column with multiple values. This is most common in string columns. For instance, let's say we wanted to find all the rides where the events were either 'rain', 'snow', 'tstorms', or 'sleet'. One way to do this would be with four or conditions.

In [16]:
filt = ((bikes['events'] == 'rain') | 
        (bikes['events'] == 'snow') | 
        (bikes['events'] == 'tstorms') | 
        (bikes['events'] == 'sleet'))
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
45,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15.0,State St & Harrison St,19.0,82.9,5.8,rain
78,Male,2013-07-21 16:35:00,2013-07-21 17:06:00,1809,Michigan Ave & Pearson St,23.0,Millennium Park,35.0,82.4,11.5,tstorms
79,Male,2013-07-21 16:47:00,2013-07-21 17:03:00,999,Carpenter St & Huron St,19.0,Carpenter St & Huron St,19.0,82.4,11.5,tstorms

### Use the `isin` method instead

Instead of using an operator, we use the `isin` method. Pass it a list (or a set) of all the values you want to test equality with. The `isin` method returns a boolean Series and in this example, the same exact boolean Series as the previous one.

In [17]:
filt = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
45,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15.0,State St & Harrison St,19.0,82.9,5.8,rain
78,Male,2013-07-21 16:35:00,2013-07-21 17:06:00,1809,Michigan Ave & Pearson St,23.0,Millennium Park,35.0,82.4,11.5,tstorms
79,Male,2013-07-21 16:47:00,2013-07-21 17:03:00,999,Carpenter St & Huron St,19.0,Carpenter St & Huron St,19.0,82.4,11.5,tstorms

### Combining `isin` with other filters

You can use the resulting boolean Series from the `isin` method in the same way as you would from the logical operators. For instance, If we wanted to find all the rides that had the same events as above and had a duration greater than 2,000 we would do the following:

In [18]:
filt1 = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
filt2 = bikes['tripduration'] > 2000
filt = filt1 & filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2344,Female,2014-03-19 07:23:00,2014-03-19 08:00:00,2181,Seeley Ave & Roscoe St,11.0,Franklin St & Lake St,23.0,43.0,6.9,rain
7697,Male,2014-09-12 14:20:00,2014-09-12 14:57:00,2213,Damen Ave & Pierce Ave,19.0,California Ave & Division St,15.0,52.0,12.7,rain
8357,Male,2014-09-30 08:21:00,2014-09-30 08:58:00,2246,Damen Ave & Melrose Ave,11.0,Wood St & Taylor St,15.0,46.9,11.5,rain

## Exercises

Continue to use the bikes dataset for the first few exercises.

### Exercise 1

<span style="color:green; font-size:16px">Find all the rides where temperature was between 0 and 2.</span>

In [19]:
bikes[bikes['temperature'].between(0,2)].head()

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
1870,Female,2013-12-11 21:13:00,2013-12-11 21:19:00,347,Southport Ave & Roscoe St,19.0,Ashland Ave & Grace St,15.0,1.9,10.4,clear
1938,Male,2013-12-23 22:29:00,2013-12-23 22:37:00,455,State St & Pearson St,27.0,Clark St & Schiller St,19.0,-0.0,15.0,partlycloudy
2039,Male,2014-01-21 08:48:00,2014-01-21 09:13:00,1547,Damen Ave & Pierce Ave,19.0,Franklin St & Jackson Blvd,31.0,1.9,19.6,partlycloudy
2040,Male,2014-01-21 08:50:00,2014-01-21 08:57:00,388,Canal St & Madison St,23.0,Dearborn St & Monroe St,27.0,1.9,19.6,partlycloudy
2043,Male,2014-01-21 19:28:00,2014-01-21 19:41:00,806,Michigan Ave & 18th St,15.0,Indiana Ave & 31st St,11.0,1.9,8.1,mostlycloudy

### Exercise 2

<span  style="color:green; font-size:16px">Find all the rides with trip duration less than 100 done by females.</span>

In [20]:
filt1 = bikes['tripduration'] < 100
filt2 = bikes['gender'] == 'Female'

filt = filt1 & filt2

bikes[filt].head(10)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2485,Female,2014-04-01 15:43:00,2014-04-01 15:44:00,67,Halsted St & Polk St,19.0,Halsted St & Polk St,19.0,46.0,23.0,partlycloudy
3366,Female,2014-05-17 14:55:00,2014-05-17 14:56:00,62,Damen Ave & Chicago Ave,15.0,Damen Ave & Chicago Ave,15.0,57.9,11.5,partlycloudy
3629,Female,2014-05-27 07:55:00,2014-05-27 07:56:00,70,Clark St & Schiller St,19.0,Clark St & Schiller St,19.0,73.0,9.2,cloudy
4665,Female,2014-06-25 17:01:00,2014-06-25 17:02:00,94,Broadway & Sheridan Rd,15.0,Broadway & Sheridan Rd,15.0,64.9,13.8,cloudy
4930,Female,2014-07-01 21:36:00,2014-07-01 21:37:00,77,Clinton St & Madison St,23.0,Clinton St & Madison St,23.0,73.0,8.1,partlycloudy
4959,Female,2014-07-02 17:00:00,2014-07-02 17:02:00,96,Leavitt St & North Ave,11.0,Milwaukee Ave & Wabansia Ave,15.0,57.9,10.4,cloudy
6430,Female,2014-08-07 19:29:00,2014-08-07 19:31:00,85,Franklin St & Chicago Ave,23.0,Franklin St & Chicago Ave,23.0,73.9,11.5,partlycloudy
6862,Female,2014-08-19 15:57:00,2014-08-19 15:58:00,60,Sheridan Rd & Buena Ave,15.0,Sheridan Rd & Buena Ave,15.0,84.2,17.3,mostlycloudy
6914,Female,2014-08-20 18:11:00,2014-08-20 18:12:00,64,Museum Campus,19.0,Museum Campus,19.0,82.0,10.4,mostlycloudy
7909,Female,2014-09-18 17:01:00,2014-09-18 17:03:00,87,Daley Center Plaza,47.0,Daley Center Plaza,47.0,66.0,10.4,partlycloudy

### Exercise 3

<span style="color:green; font-size:16px">Find all the rides from 'Daley Center Plaza' to 'Michigan Ave &amp; Washington St'.</span>

In [21]:
filt1 = bikes['from_station_name'] == 'Daley Center Plaza'
filt2 = bikes['to_station_name'] == 'Michigan Ave & Washington St'

filt = filt1 & filt2

bikes[filt].head(10)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
6276,Female,2014-08-04 17:18:00,2014-08-04 17:22:00,214,Daley Center Plaza,47.0,Michigan Ave & Washington St,43.0,73.0,8.1,cloudy
31038,Female,2016-09-07 07:48:30,2016-09-07 07:53:27,297,Daley Center Plaza,39.0,Michigan Ave & Washington St,43.0,79.0,10.4,cloudy
46116,Male,2017-09-13 16:29:00,2017-09-13 16:32:42,222,Daley Center Plaza,39.0,Michigan Ave & Washington St,43.0,72.0,9.2,cloudy

### Exercise 4

<span style="color:green; font-size:16px">Find all the rides with temperature greater than 90 or trip duration greater than 2000 or wind speed greater than 20.</span>

In [22]:
temp_filt = bikes['temperature'] > 90
trip_filt = bikes['tripduration'] > 2000
windspeed_filt = bikes['wind_speed'] > 20

filt = temp_filt | trip_filt | windspeed_filt

bikes[filt].head(10)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
12,Male,2013-07-05 10:02:00,2013-07-05 10:40:00,2263,Jefferson St & Monroe St,19.0,Jefferson St & Monroe St,19.0,79.0,0.0,partlycloudy
18,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,35.0,Millennium Park,35.0,79.0,13.8,cloudy
40,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,19.0,Lake Shore Dr & Monroe St,11.0,87.1,8.1,partlycloudy
54,Male,2013-07-16 15:13:00,2013-07-16 15:18:00,347,Daley Center Plaza,47.0,State St & Van Buren St,27.0,91.0,8.1,mostlycloudy
55,Male,2013-07-16 15:31:00,2013-07-16 15:37:00,363,State St & Van Buren St,27.0,Daley Center Plaza,47.0,91.0,8.1,mostlycloudy
56,Male,2013-07-16 16:35:00,2013-07-16 16:42:00,390,Larrabee St & Kingsbury St,27.0,Dayton St & North Ave,19.0,91.0,10.4,mostlycloudy
61,Male,2013-07-17 17:08:00,2013-07-17 17:16:00,445,Clinton St & Tilden St,23.0,State St & Harrison St,19.0,93.0,11.5,partlycloudy
62,Male,2013-07-17 17:25:00,2013-07-17 17:31:00,371,Orleans St & Merchandise Mart Plaza,23.0,Clinton St & Washington Blvd,31.0,93.0,11.5,partlycloudy
63,Male,2013-07-17 17:59:00,2013-07-17 18:07:00,479,Desplaines St & Kinzie St,19.0,Aberdeen St & Madison St,19.0,93.0,11.5,partlycloudy
64,Male,2013-07-17 18:42:00,2013-07-17 18:58:00,966,State St & Kinzie St,15.0,Ashland Ave & Augusta Blvd,15.0,91.0,12.7,partlycloudy

### Exercise 5

<span  style="color:green; font-size:16px">Invert the condition from exercise 4.</span>

In [23]:
temp_filt = bikes['temperature'] > 90
trip_filt = bikes['tripduration'] > 2000
windspeed_filt = bikes['wind_speed'] > 20

filt = temp_filt | trip_filt | windspeed_filt

bikes[~filt].head(10)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy
4,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,19.0,Damen Ave & Pierce Ave,19.0,73.0,17.3,partlycloudy
5,Male,2013-07-01 12:37:00,2013-07-01 12:48:00,660,California Ave & 21st St,15.0,Clark St & Wrightwood Ave,15.0,73.0,17.3,mostlycloudy
6,Male,2013-07-02 17:47:00,2013-07-02 17:56:00,565,Clark St & Randolph St,31.0,Ravenswood Ave & Irving Park Rd,19.0,66.0,15.0,cloudy
7,Male,2013-07-03 09:07:00,2013-07-03 09:16:00,505,State St & Van Buren St,27.0,Franklin St & Jackson Blvd,27.0,64.0,5.8,cloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
9,Female,2013-07-04 15:00:00,2013-07-04 15:16:00,922,Lakeview Ave & Fullerton Pkwy,19.0,Racine Ave & Congress Pkwy,19.0,81.0,12.7,mostlycloudy

### Exercise 6

<span  style="color:green; font-size:16px">Are there any rides where the weather event was snow and the temperature was greater than 40?</span>

In [24]:
snow_filt = bikes['events'] == 'snow'
temp_filt = bikes['temperature'] > 40

filt = snow_filt & temp_filt

bikes[filt].head(10)

Empty DataFrame
Columns: [gender, starttime, stoptime, tripduration, from_station_name, start_capacity, to_station_name, end_capacity, temperature, wind_speed, events]
Index: []

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [25]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 7

<span style="color:green; font-size:16px">Select all movies with an IMDB score between 8 and 9.</span>

In [26]:
filt = movie['imdb_score'].between(8,9, inclusive='both')

movie[filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
The Avengers,2012.0,Color,PG-13,173.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,...,19000.0,623279547.0,Action|Adventure|Sci-Fi,703.0,995415,alien invasion|assassin|battle|iron man|soldier,English,USA,220000000.0,8.1
Captain America: Civil War,2016.0,Color,PG-13,147.0,Anthony Russo,94.0,Robert Downey Jr.,21000.0,Scarlett Johansson,19000.0,...,11000.0,407197282.0,Action|Adventure|Sci-Fi,516.0,272670,based on comic book|knife|marvel cinematic uni...,English,USA,250000000.0,8.2
Toy Story 3,2010.0,Color,G,103.0,Lee Unkrich,125.0,Tom Hanks,15000.0,John Ratzenberger,1000.0,...,721.0,414984497.0,Adventure|Animation|Comedy|Family|Fantasy,453.0,544884,college|day care|escape|teddy bear|toy,English,USA,200000000.0,8.3
X-Men: Days of Future Past,2014.0,Color,PG-13,149.0,Bryan Singer,0.0,Jennifer Lawrence,34000.0,Peter Dinklage,22000.0,...,20000.0,233914986.0,Action|Adventure|Fantasy|Sci-Fi|Thriller,539.0,514125,dystopia|super strength|supernatural power|tim...,English,USA,200000000.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Butterfly Girl,2014.0,Color,NaN,78.0,Cary Bell,0.0,Abigail Evans,0.0,Stacie Evans,0.0,...,0.0,NaN,Documentary,NaN,27,NaN,English,USA,180000.0,8.7
A Charlie Brown Christmas,1965.0,Color,TV-G,25.0,Bill Melendez,36.0,Peter Robbins,39.0,Bill Melendez,36.0,...,27.0,NaN,Animation|Comedy|Family,43.0,21826,christmas|christmas tree|commercialism|meaning...,English,USA,150000.0,8.4
The Brain That Sings,2013.0,Color,NaN,62.0,Amal Al-Agroobi,58.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Documentary|Family,NaN,18,autism|middle east|music therapy|united arab e...,Arabic,United Arab Emirates,125000.0,8.2
"Peace, Propaganda & the Promised Land",2004.0,Color,NaN,80.0,Sut Jhally,3.0,Noam Chomsky,103.0,Seth Ackerman,0.0,...,0.0,NaN,Documentary,16.0,496,arab israeli conflict|israel|media|middle east...,English,USA,70000.0,8.3
The Last Waltz,1978.0,Color,PG,117.0,Martin Scorsese,17000.0,Ringo Starr,725.0,Levon Helm,572.0,...,476.0,321952.0,Documentary|Music,71.0,12611,band|final concert|guitar|interview|thanksgiving,English,USA,NaN,8.2

### Exercise 8

<span  style="color:green; font-size:16px">Select all movies rated 'PG-13' that had IMDB scores between 8 and 9.</span>

In [27]:
score_filt = movie['imdb_score'].between(8,9, inclusive='both')
rating_filt = movie['content_rating'] == 'PG-13'


movie[score_filt & rating_filt].head(10)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
The Avengers,2012.0,Color,PG-13,173.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,...,19000.0,623279547.0,Action|Adventure|Sci-Fi,703.0,995415,alien invasion|assassin|battle|iron man|soldier,English,USA,220000000.0,8.1
Captain America: Civil War,2016.0,Color,PG-13,147.0,Anthony Russo,94.0,Robert Downey Jr.,21000.0,Scarlett Johansson,19000.0,...,11000.0,407197282.0,Action|Adventure|Sci-Fi,516.0,272670,based on comic book|knife|marvel cinematic uni...,English,USA,250000000.0,8.2
X-Men: Days of Future Past,2014.0,Color,PG-13,149.0,Bryan Singer,0.0,Jennifer Lawrence,34000.0,Peter Dinklage,22000.0,...,20000.0,233914986.0,Action|Adventure|Fantasy|Sci-Fi|Thriller,539.0,514125,dystopia|super strength|supernatural power|tim...,English,USA,200000000.0,8.0
The Dark Knight,2008.0,Color,PG-13,152.0,Christopher Nolan,22000.0,Christian Bale,23000.0,Heath Ledger,13000.0,...,11000.0,533316061.0,Action|Crime|Drama|Thriller,645.0,1676169,based on comic book|dc comics|psychopath|star ...,English,USA,185000000.0,9.0
Guardians of the Galaxy,2014.0,Color,PG-13,121.0,James Gunn,571.0,Bradley Cooper,14000.0,Vin Diesel,14000.0,...,3000.0,333130696.0,Action|Adventure|Sci-Fi,653.0,682155,bounty hunter|outer space|raccoon|talking anim...,English,USA,170000000.0,8.1
Interstellar,2014.0,Color,PG-13,169.0,Christopher Nolan,22000.0,Matthew McConaughey,11000.0,Anne Hathaway,11000.0,...,6000.0,187991439.0,Adventure|Drama|Sci-Fi,712.0,928227,black hole|father daughter relationship|saving...,English,USA,165000000.0,8.6
Inception,2010.0,Color,PG-13,148.0,Christopher Nolan,22000.0,Leonardo DiCaprio,29000.0,Tom Hardy,27000.0,...,23000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,642.0,1468200,ambiguous ending|corporate espionage|dream|sub...,English,USA,160000000.0,8.8
Batman Begins,2005.0,Color,PG-13,128.0,Christopher Nolan,22000.0,Christian Bale,23000.0,Liam Neeson,14000.0,...,11000.0,205343774.0,Action|Adventure,478.0,980946,armored car|gangster|gotham|mixed martial arts...,English,USA,150000000.0,8.3
Star Trek,2009.0,Color,PG-13,127.0,J.J. Abrams,14000.0,Chris Hemsworth,26000.0,Leonard Nimoy,12000.0,...,981.0,257704099.0,Action|Adventure|Sci-Fi,518.0,504419,box office hit|future|lifted by the throat|sta...,English,USA,150000000.0,8.0

### Exercise 9

<span  style="color:green; font-size:16px">Select movies that were rated either R, PG-13, or PG.</span>

In [28]:
rating_filt = movie['content_rating'].isin(['R','PG-13','PG'])

movie[rating_filt].head(10)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
John Carter,2012.0,Color,PG-13,132.0,Andrew Stanton,475.0,Daryl Sabara,640.0,Samantha Morton,632.0,...,530.0,73058679.0,Action|Adventure|Sci-Fi,462.0,212204,alien|american civil war|male nipple|mars|prin...,English,USA,263700000.0,6.6
Spider-Man 3,2007.0,Color,PG-13,156.0,Sam Raimi,0.0,J.K. Simmons,24000.0,James Franco,11000.0,...,4000.0,336530303.0,Action|Adventure|Romance,392.0,383056,sandman|spider man|symbiote|venom|villain,English,USA,258000000.0,6.2
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,...,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Avengers: Age of Ultron,2015.0,Color,PG-13,141.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,...,19000.0,458991599.0,Action|Adventure|Sci-Fi,635.0,462669,artificial intelligence|based on comic book|ca...,English,USA,250000000.0,7.5
Harry Potter and the Half-Blood Prince,2009.0,Color,PG,153.0,David Yates,282.0,Alan Rickman,25000.0,Daniel Radcliffe,11000.0,...,10000.0,301956980.0,Adventure|Family|Fantasy|Mystery,375.0,321795,blood|book|love|potion|professor,English,UK,250000000.0,7.5
Batman v Superman: Dawn of Justice,2016.0,Color,PG-13,183.0,Zack Snyder,0.0,Henry Cavill,15000.0,Lauren Cohan,4000.0,...,2000.0,330249062.0,Action|Adventure|Sci-Fi,673.0,371639,based on comic book|batman|sequel to a reboot|...,English,USA,250000000.0,6.9

### Exercise 10

<span  style="color:green; font-size:16px">Select movies that are either rated PG-13 or had an IMDB score greater than 7.</span>

In [29]:
rating_filt = movie['content_rating'] == 'PG-13'
score_filt = movie['imdb_score'] > 7

filt = rating_filt | score_filt

movie[filt].head(10)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
John Carter,2012.0,Color,PG-13,132.0,Andrew Stanton,475.0,Daryl Sabara,640.0,Samantha Morton,632.0,...,530.0,73058679.0,Action|Adventure|Sci-Fi,462.0,212204,alien|american civil war|male nipple|mars|prin...,English,USA,263700000.0,6.6
Spider-Man 3,2007.0,Color,PG-13,156.0,Sam Raimi,0.0,J.K. Simmons,24000.0,James Franco,11000.0,...,4000.0,336530303.0,Action|Adventure|Romance,392.0,383056,sandman|spider man|symbiote|venom|villain,English,USA,258000000.0,6.2
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,...,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Avengers: Age of Ultron,2015.0,Color,PG-13,141.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,...,19000.0,458991599.0,Action|Adventure|Sci-Fi,635.0,462669,artificial intelligence|based on comic book|ca...,English,USA,250000000.0,7.5
Harry Potter and the Half-Blood Prince,2009.0,Color,PG,153.0,David Yates,282.0,Alan Rickman,25000.0,Daniel Radcliffe,11000.0,...,10000.0,301956980.0,Adventure|Family|Fantasy|Mystery,375.0,321795,blood|book|love|potion|professor,English,UK,250000000.0,7.5

### Exercise 11

<span  style="color:green; font-size:16px">Find all the movies that have at least one of the three actors with more than 10,000 Facebook likes.</span>

In [30]:
actor_1_filt = movie['actor1_fb'] > 10_000
actor_2_filt = movie['actor2_fb'] > 10_000
actor_3_filt = movie['actor3_fb'] > 10_000

movie[actor_1_filt | actor_2_filt | actor_3_filt].head(10)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Spider-Man 3,2007.0,Color,PG-13,156.0,Sam Raimi,0.0,J.K. Simmons,24000.0,James Franco,11000.0,...,4000.0,336530303.0,Action|Adventure|Romance,392.0,383056,sandman|spider man|symbiote|venom|villain,English,USA,258000000.0,6.2
Avengers: Age of Ultron,2015.0,Color,PG-13,141.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,...,19000.0,458991599.0,Action|Adventure|Sci-Fi,635.0,462669,artificial intelligence|based on comic book|ca...,English,USA,250000000.0,7.5
Harry Potter and the Half-Blood Prince,2009.0,Color,PG,153.0,David Yates,282.0,Alan Rickman,25000.0,Daniel Radcliffe,11000.0,...,10000.0,301956980.0,Adventure|Family|Fantasy|Mystery,375.0,321795,blood|book|love|potion|professor,English,UK,250000000.0,7.5
Batman v Superman: Dawn of Justice,2016.0,Color,PG-13,183.0,Zack Snyder,0.0,Henry Cavill,15000.0,Lauren Cohan,4000.0,...,2000.0,330249062.0,Action|Adventure|Sci-Fi,673.0,371639,based on comic book|batman|sequel to a reboot|...,English,USA,250000000.0,6.9
Superman Returns,2006.0,Color,PG-13,169.0,Bryan Singer,0.0,Kevin Spacey,18000.0,Marlon Brando,10000.0,...,903.0,200069408.0,Action|Adventure|Sci-Fi,434.0,240396,crystal|epic|lex luthor|lois lane|return to earth,English,USA,209000000.0,6.1
Pirates of the Caribbean: Dead Man's Chest,2006.0,Color,PG-13,151.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,423032628.0,Action|Adventure|Fantasy,313.0,522040,box office hit|giant squid|heart|liar's dice|m...,English,USA,225000000.0,7.3
The Lone Ranger,2013.0,Color,PG-13,150.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Ruth Wilson,2000.0,...,1000.0,89289910.0,Action|Adventure|Western,450.0,181792,horse|outlaw|texas|texas ranger|train,English,USA,215000000.0,6.5

### Exercise 12

<span  style="color:green; font-size:16px">Invert the condition from exercise 10. In words, what have you selected?</span>

In [ ]:
rating_filt = movie['content_rating'] == 'PG-13'
score_filt = movie['imdb_score'] > 7

filt = rating_filt | score_filt

movie[~filt].head()

#not PG-13 and less than or equal to 7

count    2285.000000
mean        5.920175
std         0.929856
min         1.600000
25%         5.400000
50%         6.200000
75%         6.600000
max         7.000000
Name: imdb_score, dtype: float64

### Exercise 13

<span  style="color:green; font-size:16px">Select all movies from the 1970's.</span>

In [52]:
movie[movie['year'].between(1970,1979)]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
All That Jazz,1979.0,Color,R,123.0,Bob Fosse,189.0,Roy Scheider,813.0,Ben Vereen,388.0,...,87.0,NaN,Comedy|Drama|Music|Musical,84.0,19228,dancer|editing|stand up comedian|surgery|vomiting,English,USA,NaN,7.8
Superman,1978.0,Color,PG,188.0,Richard Donner,503.0,Marlon Brando,10000.0,Margot Kidder,593.0,...,467.0,134218018.0,Action|Adventure|Drama|Romance|Sci-Fi,169.0,126357,1970s|clark kent|planet|superhero|year 1978,English,USA,55000000.0,7.3
Solaris,1972.0,Black and White,PG,115.0,Andrei Tarkovsky,0.0,Donatas Banionis,29.0,Anatoliy Solonitsyn,29.0,...,12.0,NaN,Drama|Mystery|Sci-Fi,144.0,54057,hallucination|ocean|psychologist|scientist|spa...,Russian,Soviet Union,1000000.0,8.1
Mean Streets,1973.0,Color,R,112.0,Martin Scorsese,17000.0,Robert De Niro,22000.0,David Carradine,926.0,...,354.0,32645.0,Crime|Drama|Romance|Thriller,112.0,67797,bar|catholic guilt|epilepsy|italian american|m...,English,USA,500000.0,7.4
Star Trek: The Motion Picture,1979.0,Color,PG,143.0,Robert Wise,338.0,Leonard Nimoy,12000.0,Nichelle Nichols,664.0,...,643.0,82300000.0,Adventure|Mystery|Sci-Fi,134.0,63330,alien|space|space station|spacecraft|warp speed,English,USA,35000000.0,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Penitentiary,1979.0,Color,R,99.0,Jamaa Fanaka,9.0,Leon Isaac Kennedy,116.0,Chuck Mitchell,24.0,...,10.0,NaN,Crime|Drama|Sport,23.0,509,blaxploitation|boxing|convict|drifter|false ac...,English,USA,100000.0,5.8
The Night Visitor,1971.0,Color,GP,106.0,Laslo Benedek,6.0,Liv Ullmann,440.0,Trevor Howard,98.0,...,13.0,NaN,Crime|Horror|Thriller,14.0,544,escape|independent film|mental illness|prison|...,English,USA,NaN,6.8
The Last Waltz,1978.0,Color,PG,117.0,Martin Scorsese,17000.0,Ringo Starr,725.0,Levon Helm,572.0,...,476.0,321952.0,Documentary|Music,71.0,12611,band|final concert|guitar|interview|thanksgiving,English,USA,NaN,8.2
Pink Narcissus,1971.0,Color,Not Rated,65.0,James Bidgood,0.0,Don Brooks,0.0,Bobby Kendall,0.0,...,NaN,8231.0,Drama|Fantasy,8.0,803,male frontal nudity|male pubic hair|male rear ...,English,USA,27000.0,6.7
Pink Flamingos,1972.0,Color,NC-17,108.0,John Waters,0.0,Divine,462.0,Mink Stole,143.0,...,105.0,180483.0,Comedy|Crime|Horror,73.0,16792,absurd humor|egg|gross out humor|lesbian|sex,English,USA,10000.0,6.1