# Boolean Selection More

In this chapter, we explore several more possible ways to use boolean selection to filter data.

## Boolean selection on a Series

All of the examples thus far have taken place on DataFrames. Boolean selection on a Series is completed almost identically. Since there is only one dimension of data, the queries you ask are usually going to be simpler. First, let's select a single column of data as a Series such as the temperature column from the bikes dataset.

In [1]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv', parse_dates=['starttime', 'stoptime'])
temp = bikes['temperature']
temp.head(3)

0    73.9
1    69.1
2    73.0
Name: temperature, dtype: float64

Let's select temperatures greater than 90. The procedure is the same as with DataFrames. Create a boolean Series and pass that Series to *just the bracketes*.

In [2]:
filt = temp > 90
temp[filt].head(3)

54    91.0
55    91.0
56    91.0
Name: temperature, dtype: float64

Select temperatures less than 0 or greater than 95. Multiple condition boolean Series also work the same.

In [3]:
filt1 = temp < 0
filt2 = temp > 95
filt = filt1 | filt2
temp[filt].head()

395     96.1
396     96.1
397     96.1
1871    -2.0
2049    -2.0
Name: temperature, dtype: float64

### Set the index as `starttime`

The default index is not very helpful. Let's use the `set_index` method to make the `starttime` column the new index. While, this column may not be unique it does provide us with useful labels for each row.

In [4]:
bikes['starttime'].nunique

<bound method IndexOpsMixin.nunique of 0       2013-06-28 19:01:00
1       2013-06-28 22:53:00
2       2013-06-30 14:43:00
3       2013-07-01 10:05:00
4       2013-07-01 11:16:00
                ...
50084   2017-12-30 13:07:00
50085   2017-12-30 13:34:00
50086   2017-12-30 13:34:00
50087   2017-12-31 09:30:00
50088   2017-12-31 15:22:00
Name: starttime, Length: 50089, dtype: datetime64[ns]>

In [5]:
bikes2 = bikes.set_index('starttime')
bikes2.head(3)

,gender,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
starttime,,,,,,,,,,
2013-06-28 19:01:00,Male,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
2013-06-28 22:53:00,Male,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2013-06-30 14:43:00,Male,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

Let's get back our temperature Series with its updated index.

In [6]:
temp2 = bikes2['temperature']
temp2.head()

starttime
2013-06-28 19:01:00    73.9
2013-06-28 22:53:00    69.1
2013-06-30 14:43:00    73.0
2013-07-01 10:05:00    72.0
2013-07-01 11:16:00    73.0
Name: temperature, dtype: float64

Let's select temperatures greater than 90. We expect to get a summer month and we do.

In [7]:
filt = temp2 > 90
temp2[filt].head(5)

starttime
2013-07-16 15:13:00    91.0
2013-07-16 15:31:00    91.0
2013-07-16 16:35:00    91.0
2013-07-17 17:08:00    93.0
2013-07-17 17:25:00    93.0
Name: temperature, dtype: float64

Select temperature less than 0 or greater than 95. We expect to get some winter months in the result and we do.

In [8]:
filt1 = temp2 < 0
filt2 = temp2 > 95
filt = filt1 | filt2
temp2[filt].head()

starttime
2013-08-30 15:33:00    96.1
2013-08-30 15:37:00    96.1
2013-08-30 15:49:00    96.1
2013-12-12 05:13:00    -2.0
2014-01-23 06:15:00    -2.0
Name: temperature, dtype: float64

## The `between` method

The `between` method returns a boolean Series by testing whether the current value is between two given values. For instance, if want to select the temperatures between 50 and 60 degrees we do the following:

In [9]:
filt = temp2.between(50, 60)
filt.head(3)

starttime
2013-06-28 19:01:00    False
2013-06-28 22:53:00    False
2013-06-30 14:43:00    False
Name: temperature, dtype: bool

By default, the `between` method is inclusive of the given values, so temperatures of exactly 50 or 60 would be found in the result. We pass this boolean Series to *just the brackets* to complete the selection.

In [10]:
temp2[filt].head(3)

starttime
2013-09-13 07:55:00    54.0
2013-09-13 08:04:00    57.9
2013-09-13 08:04:00    57.9
Name: temperature, dtype: float64

## Simultaneous boolean selection of rows and column labels with `loc`

The `loc` indexer was thoroughly covered in an earlier chapter and will now be brought up again to show how it can simultaneously select rows with boolean selection and columns by labels.

Remember that `loc` takes both a row selection and a column selection separated by a comma. Since the row selection comes first, you can pass it the same exact inputs that you do for *just the brackets* and get the same results. Let's run some of the previous examples of boolean selection with `loc`. Here, we select all rides with trip duration greater than 1,000.

In [11]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv', parse_dates=['starttime', 'stoptime'], index_col='starttime')

In [12]:
filt = bikes['tripduration'] > 1000
bikes.loc[filt].head(3)  #This is the same with bikes[filt] but here we can also select specific columns

,gender,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
starttime,,,,,,,,,,
2013-06-30 14:43:00,Male,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
2013-07-03 15:21:00,Male,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
2013-07-04 17:17:00,Male,2013-07-04 17:42:00,1523,Morgan St & 18th St,15.0,Damen Ave & Pierce Ave,19.0,79.0,9.2,mostlycloudy

Here, we select all weather events that are either rain, snow, tstorms, or sleet.

In [13]:
filt = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
bikes.loc[filt].head(3)

,gender,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
starttime,,,,,,,,,,
2013-07-15 16:43:00,Male,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15.0,State St & Harrison St,19.0,82.9,5.8,rain
2013-07-21 16:35:00,Male,2013-07-21 17:06:00,1809,Michigan Ave & Pearson St,23.0,Millennium Park,35.0,82.4,11.5,tstorms
2013-07-21 16:47:00,Male,2013-07-21 17:03:00,999,Carpenter St & Huron St,19.0,Carpenter St & Huron St,19.0,82.4,11.5,tstorms

### Separate row and column selection with a comma for `loc`

The nice benefit of `loc` is that it allows us to simultaneously select rows with boolean selection and columns by label. Let's select rides during rain or snow and the columns `events` and `tripduration`.

In [14]:
filt = bikes['events'].isin(['rain', 'snow'])
cols = ['events', 'tripduration']
bikes.loc[filt, cols].head()

                    events  tripduration
starttime
2013-07-15 16:43:00   rain           727
2013-07-26 19:10:00   rain          1395
2013-07-30 18:53:00   rain           442
2013-08-05 17:09:00   rain           890
2013-09-07 16:09:00   rain           978

Now let's find all female riders with trip duration greater than 5,000 when it was cloudy. We'll only return the columns used during the boolean selection.

In [15]:
filt1 = bikes['gender'] == 'Female'
filt2 = bikes['tripduration'] > 5000
filt3 = bikes['events'] == 'cloudy'
filt = filt1 & filt2 & filt3
cols = ['gender', 'tripduration', 'events']
bikes.loc[filt, cols]

                     gender  tripduration  events
starttime
2014-04-15 15:56:00  Female         79988  cloudy
2015-07-08 14:52:00  Female          7197  cloudy
2016-03-15 12:44:00  Female         13205  cloudy
2017-02-28 15:07:00  Female         19922  cloudy

## Column to column comparisons

So far, we created filters by comparing each of our column values to a single scalar value. It is possible to do element-by-element comparisons by comparing two columns to one another. For instance, the total bike capacity at each station at the start and end of the ride is stored in the `start_capacity` and `end_capactiy` columns. If we wanted to test whether there was more capacity at the start of the ride vs the end, we would do the following:

In [16]:
bikes

,gender,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
starttime,,,,,,,,,,
2013-06-28 19:01:00,Male,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
2013-06-28 22:53:00,Male,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2013-06-30 14:43:00,Male,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
2013-07-01 10:05:00,Male,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy
2013-07-01 11:16:00,Male,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,19.0,Damen Ave & Pierce Ave,19.0,73.0,17.3,partlycloudy
...,...,...,...,...,...,...,...,...,...,...
2017-12-30 13:07:00,Male,2017-12-30 13:34:00,1625,State St & Pearson St,27.0,Clark St & Elm St,27.0,5.0,16.1,partlycloudy
2017-12-30 13:34:00,Male,2017-12-30 13:44:00,585,Halsted St & 35th St (*),16.0,Union Ave & Root St,11.0,5.0,16.1,partlycloudy
2017-12-30 13:34:00,Male,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,31.0,Halsted St & Blackhawk St (*),20.0,5.0,16.1,partlycloudy
2017-12-31 09:30:00,Female,2017-12-31 09:33:00,178,Clinton St & Lake St,23.0,Kingsbury St & Kinzie St,31.0,7.0,11.5,partlycloudy
2017-12-31 15:22:00,Male,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,15.0,Clifton Ave & Lawrence Ave,15.0,10.9,15.0,partlycloudy

In [18]:
filt = bikes['start_capacity'] > bikes['end_capacity']

Let's use this filter with `loc` to return all the rows where the start capacity is greater than the end.

In [19]:
cols = ['start_capacity', 'end_capacity']
bikes.loc[filt, cols].head(3)

                     start_capacity  end_capacity
starttime
2013-06-28 22:53:00            31.0          19.0
2013-07-02 17:47:00            31.0          19.0
2013-07-03 15:21:00            31.0          15.0

### Boolean selection with `iloc` does not work

The pandas developers decided not to allow boolean selection with `iloc`. The following raises an error.

In [23]:
bikes.iloc[filt]

ValueError: iLocation based boolean indexing cannot use an indexable as a mask

## Finding missing values with `isna`

The `isna` method called from either a DataFrame or a Series returns `True` for every value that is missing and `False` for any other value. Let's see this in action by calling `isna` on the start capacity column.

In [20]:
bikes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 50089 entries, 2013-06-28 19:01:00 to 2017-12-31 15:22:00
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             50089 non-null  object
 1   stoptime           50089 non-null  datetime64[ns]
 2   tripduration       50089 non-null  int64
 3   from_station_name  50089 non-null  object
 4   start_capacity     50083 non-null  float64
 5   to_station_name    50089 non-null  object
 6   end_capacity       50077 non-null  float64
 7   temperature        50089 non-null  float64
 8   wind_speed         50089 non-null  float64
 9   events             50089 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 16.5 MB

In [21]:
bikes['start_capacity'].isna()

starttime
2013-06-28 19:01:00    False
2013-06-28 22:53:00    False
2013-06-30 14:43:00    False
2013-07-01 10:05:00    False
2013-07-01 11:16:00    False
                       ...
2017-12-30 13:07:00    False
2017-12-30 13:34:00    False
2017-12-30 13:34:00    False
2017-12-31 09:30:00    False
2017-12-31 15:22:00    False
Name: start_capacity, Length: 50089, dtype: bool

### Filtering for missing values

We can now use this boolean Series to select all the rows where the capacity start column is missing. Verify that those values are indeed missing.

In [22]:
filt = bikes['start_capacity'].isna()
bikes[filt].head(3)

,gender,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
starttime,,,,,,,,,,
2015-09-06 07:52:00,Male,2015-09-06 07:55:00,207,Clark St & 9th St (AMLI),NaN,Federal St & Polk St,19.0,75.0,4.6,mostlycloudy
2015-09-07 09:52:00,Female,2015-09-07 09:57:00,293,Clark St & 9th St (AMLI),NaN,Wabash Ave & 8th St,19.0,81.0,8.1,mostlycloudy
2015-09-15 08:25:00,Male,2015-09-15 08:33:00,473,Clark St & 9th St (AMLI),NaN,Franklin St & Monroe St,27.0,68.0,9.2,mostlycloudy

### `isnull` is an alias for `isna`

There is an identical method named `isnull` that you will see in other tutorials. It is an **alias** of `isna` meaning it does the exact same thing but has a different name. Either one is suitable to use, but I prefer `isna` because of the similarity to **NaN**, the representation of missing values. There are also other methods such as `dropna` and `fillna` that have 'na' in their names.

## Exercises

Continue to use the bikes dataset for the first few exercises.

### Exercise 1
<span  style="color:green; font-size:16px">Select the wind speed column as a Series and assign it to a variable. Are there any negative wind speeds?</span>

In [23]:
wind_speed = bikes['wind_speed']

filt = wind_speed < 0
filt
#len(wind_speed[filt])

starttime
2013-06-28 19:01:00    False
2013-06-28 22:53:00    False
2013-06-30 14:43:00    False
2013-07-01 10:05:00    False
2013-07-01 11:16:00    False
                       ...
2017-12-30 13:07:00    False
2017-12-30 13:34:00    False
2017-12-30 13:34:00    False
2017-12-31 09:30:00    False
2017-12-31 15:22:00    False
Name: wind_speed, Length: 50089, dtype: bool

### Exercise 2
<span  style="color:green; font-size:16px">Select all wind speed values between 12 and 16.</span>

In [24]:
filt = wind_speed.between(12,16,inclusive='both')

wind_speed[filt]

starttime
2013-06-28 19:01:00    12.7
2013-07-02 17:47:00    15.0
2013-07-04 15:00:00    12.7
2013-07-09 13:12:00    13.8
2013-07-09 13:14:00    13.8
                       ...
2017-12-23 11:37:00    13.8
2017-12-26 13:27:00    12.7
2017-12-30 10:47:00    13.8
2017-12-30 11:36:00    13.8
2017-12-31 15:22:00    15.0
Name: wind_speed, Length: 8730, dtype: float64

### Exercise 3
<span  style="color:green; font-size:16px">Select the `events` and `gender` columns for all trip durations longer than 1,000 seconds.</span>

In [26]:
bikes.loc[bikes['tripduration'] > 1000,['events','gender']]

                           events  gender
starttime
2013-06-30 14:43:00  mostlycloudy    Male
2013-07-03 15:21:00        cloudy    Male
2013-07-04 17:17:00  mostlycloudy    Male
2013-07-04 18:13:00  mostlycloudy    Male
2013-07-05 10:02:00  partlycloudy    Male
...                           ...     ...
2017-12-23 13:48:00  mostlycloudy  Female
2017-12-29 09:13:00        cloudy    Male
2017-12-29 15:28:00          snow    Male
2017-12-30 11:36:00  partlycloudy    Male
2017-12-30 13:07:00  partlycloudy    Male

[10178 rows x 2 columns]

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [27]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 4
<span  style="color:green; font-size:16px">Select all the movies such that the Facebook likes for actor 2 are greater than those for actor 1.</span>

In [28]:
filt1 = movie['actor2_fb'] > movie['actor1_fb']

movie[filt1]

Empty DataFrame
Columns: [year, color, content_rating, duration, director_name, director_fb, actor1, actor1_fb, actor2, actor2_fb, actor3, actor3_fb, gross, genres, num_reviews, num_voted_users, plot_keywords, language, country, budget, imdb_score]
Index: []

[0 rows x 21 columns]

In [29]:
movie.dtypes

year               float64
color               object
content_rating      object
duration           float64
director_name       object
director_fb        float64
actor1              object
actor1_fb          float64
actor2              object
actor2_fb          float64
actor3              object
actor3_fb          float64
gross              float64
genres              object
num_reviews        float64
num_voted_users      int64
plot_keywords       object
language            object
country             object
budget             float64
imdb_score         float64
dtype: object

### Exercise 5
<span  style="color:green; font-size:16px">Select the year, content rating, and IMDB score columns for movies from the year 2016 with IMDB score less than 4.</span>

In [30]:
movie.loc[(movie['year'] == 2016) & (movie['imdb_score'] < 4), ['year','content_rating','imdb_score']]

                         year content_rating  imdb_score
title
Fifty Shades of Black  2016.0              R         3.5
Cabin Fever            2016.0      Not Rated         3.7
God's Not Dead 2       2016.0             PG         3.4

### Exercise 6
<span  style="color:green; font-size:16px">Select all the movies that are missing values for content rating.</span>

In [31]:
movie[movie['content_rating'].isna()]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
Godzilla Resurgence,2016.0,Color,NaN,120.0,Hideaki Anno,28.0,Mark Chinnery,544.0,Shin'ya Tsukamoto,106.0,...,12.0,NaN,Action|Adventure|Drama|Horror|Sci-Fi,1.0,374,blood|godzilla|monster|sequel,Japanese,Japan,NaN,8.2
Harry Potter and the Deathly Hallows: Part II,2011.0,Color,NaN,NaN,Matt Birch,0.0,Rupert Grint,10000.0,Dave Legeno,570.0,...,159.0,NaN,Action|Fantasy,1.0,381,NaN,English,UK,NaN,7.5
Harry Potter and the Deathly Hallows: Part I,2010.0,Color,NaN,NaN,Matt Birch,0.0,Rupert Grint,10000.0,Toby Jones,2000.0,...,1000.0,NaN,Fantasy,4.0,252,NaN,English,UK,NaN,6.4
Asterix at the Olympic Games,2008.0,Color,NaN,116.0,FrÃ©dÃ©ric Forestier,0.0,Alain Delon,936.0,Santiago Segura,276.0,...,141.0,NaN,Adventure|Comedy|Family|Fantasy,33.0,20567,1st century b.c.|lightsaber|local blockbuster|...,French,France,78000000.0,5.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
On the Downlow,2004.0,Color,NaN,84.0,Tadeo Garcia,5.0,Tatiana Suarez-Pico,21.0,Michael Cortez,20.0,...,12.0,NaN,Drama,NaN,156,gang initiation|gunplay|hazing|latino|shakespe...,English,USA,NaN,6.1
Sanctuary; Quite a Conundrum,2012.0,Color,NaN,82.0,Thomas L. Phillips,120.0,Julianna Pitt,785.0,Joe Coffey,98.0,...,84.0,NaN,Comedy|Horror|Thriller,13.0,133,nudity|party|pirate|swimsuit|three word title,English,USA,200000.0,5.4
Bang,1995.0,Color,NaN,98.0,Ash Baron-Cohen,3.0,Peter Greene,789.0,Stanley B. Herman,194.0,...,152.0,NaN,Crime|Drama,10.0,438,corruption|homeless|homeless man|motorcycle|ur...,English,USA,NaN,6.4
Signed Sealed Delivered,2013.0,Color,NaN,87.0,Scott Smith,2.0,Eric Mabius,637.0,Daphne Zuniga,470.0,...,318.0,NaN,Comedy|Drama,1.0,629,fraud|postal worker|prison|theft|trial,English,Canada,NaN,7.7
A Plague So Pleasant,2013.0,Color,NaN,76.0,Benjamin Roberds,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,...,0.0,NaN,Drama|Horror|Thriller,13.0,38,NaN,English,USA,1400.0,6.3

### Exercise 7
<span  style="color:green; font-size:16px">Select all the movies that are missing values for both the gross and budget columns. Return just those columns to verify that those values are indeed missing.</span>

In [32]:
filt_missing = movie['gross'].isna() & movie['budget'].isna()

movie.loc[filt_missing,['gross','budget']]

                                               gross  budget
title
Star Wars: Episode VII - The Force Awakens       NaN     NaN
The Lovers                                       NaN     NaN
Godzilla Resurgence                              NaN     NaN
Harry Potter and the Deathly Hallows: Part II    NaN     NaN
Harry Potter and the Deathly Hallows: Part I     NaN     NaN
...                                              ...     ...
Exeter                                           NaN     NaN
On the Downlow                                   NaN     NaN
Bang                                             NaN     NaN
Signed Sealed Delivered                          NaN     NaN
The Following                                    NaN     NaN

[219 rows x 2 columns]

### Exercise 8
<span  style="color:green; font-size:16px">Write a function `find_missing` that has three parameters, `df`, `col1` and `col2` where `df` is a DataFrame and `col1` and `col2` are column names. This function should return all the rows of the DataFrame where `col1` and `col2` are missing. Only return the two columns as well. Answer problem 7 with this function.</span>

In [35]:
def find_missing(df,col1:str,col2:str):
    #find rows where both col1 and col2 are missing
    filt = df[col1].isna() & df[col2].isna()

    #filter df to show rows that satisfy filt
    filt_df = df.loc[filt,[col1,col2]]

    return filt_df

find_missing(movie,'gross','budget')

                                               gross  budget
title
Star Wars: Episode VII - The Force Awakens       NaN     NaN
The Lovers                                       NaN     NaN
Godzilla Resurgence                              NaN     NaN
Harry Potter and the Deathly Hallows: Part II    NaN     NaN
Harry Potter and the Deathly Hallows: Part I     NaN     NaN
...                                              ...     ...
Exeter                                           NaN     NaN
On the Downlow                                   NaN     NaN
Bang                                             NaN     NaN
Signed Sealed Delivered                          NaN     NaN
The Following                                    NaN     NaN

[219 rows x 2 columns]

In [36]:
#for scalability 

from typing import List

def find_missing(df,cols:List[str]):
    return df.loc[df[cols].isna().all(axis=1), cols]

find_missing(movie,['gross','budget'])

                                               gross  budget
title
Star Wars: Episode VII - The Force Awakens       NaN     NaN
The Lovers                                       NaN     NaN
Godzilla Resurgence                              NaN     NaN
Harry Potter and the Deathly Hallows: Part II    NaN     NaN
Harry Potter and the Deathly Hallows: Part I     NaN     NaN
...                                              ...     ...
Exeter                                           NaN     NaN
On the Downlow                                   NaN     NaN
Bang                                             NaN     NaN
Signed Sealed Delivered                          NaN     NaN
The Following                                    NaN     NaN

[219 rows x 2 columns]